
h2 {

	text-align: center;
	margin-bottom: 5px;
}

h3 {
	
}



#logo {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

form {
	text-align: center;
}


#security_code {
	margin-bottom: 10px;
	
}


LoginButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	bottom: -5px;
	cursor:pointer;
}



#navcontainer ul
{
	padding: 0;
	list-style-type: none;
	position: fixed;
	margin: -100px 0 0 -100px;
	left: 50%;
	top: 50%;
	cursor:pointer;
	
}

#navcontainer li { margin: 0 0 .2em 0; }

#navcontainer a
{
	display: block;
	color: #fff;
	background-color: #800000;
	width: 9em;
	padding: .2em .8em;
	text-decoration: none;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #036;
	border-bottom: 1px solid #036;
}

#navcontainer a:hover
{
	background-color: #CF0000;
	color: #FFF;
	border-top: 1px solid #036;
	border-left: 1px solid #036;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}


.styled-select select {
   
	color: #fff;
	background-color: #800000;
	width: 12em;
	font-size: 15px;
	padding: .2em .2em;
	text-decoration: none;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #036;
	border-bottom: 1px solid #036;
   -webkit-appearance: menulist;
   
}